.festival-detail {
  position: relative; /* 자식 요소들이 상대적인 위치로 설정 */
}

.festival-image-detail {
  width: 100%;
  height: auto;
}



.festival-description h1 {
  font-weight: bold;
  line-height: 1.2; /* 제목 줄 간격 */
  text-align: left; /* 텍스트 중앙 정렬 */
  font-size: 30px; /* 제목 크기 */
  color: white; /* 텍스트 색상 */
  position: absolute; /* 이미지 위에 텍스트가 겹치도록 설정 */
  top: 375px; /* 이미지의 위쪽에서 20px 내려서 위치 */
  left: 20px; /* 왼쪽에서 20px */
  right: 20px; /* 오른쪽에서 20px */
  white-space: normal; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
  word-break: break-word; /* 긴 단어 강제 줄바꿈 */

  white-space: pre-line; /* \n을 줄바꿈으로 해석 */
}

.review-image p {
  margin: 0;
  color: #FFFFFF;
  font-size: 13.5px;
  font-weight: 600;
}

.dot3 {
  width: 20px;
}

.review-image p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
  color: #FFFFFF;
  font-size: 13.5px;
  font-weight: 600;
}

.dot3{
  width: 20px;
}



/* 제목 스타일 */
.festival-description h1 {
  font-weight: bold;
  line-height: 1.2; /* 제목 줄 간격 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  font-size: 30px; /* 제목 크기 */
  color: white; /* 텍스트 색상 */
  position: absolute; /* 이미지 위에 텍스트가 겹치도록 설정 */
  top: 20px; /* 이미지의 위쪽에서 20px 내려서 위치 */
  left: 20px; /* 왼쪽에서 20px */
  right: 20px; /* 오른쪽에서 20px */
  padding: 10px; /* 텍스트 주변에 여백 추가 */
  text-shadow: 1px 1px 0px rgb(54, 54, 54); 
  box-sizing: border-box; /* padding을 포함한 크기 계산 */
  height: 780px; /* 높이를 일정하게 고정 */
  display: flex; /* Flexbox를 이용해 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.review-image {
  position: absolute; /* 위치를 이미지 위에 고정 */
  transform: translate(1000%, -140%); /* 위치를 살짝 조정 */
}

.review-image p {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 13.5px;
  font-weight: 600;
}

